@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/Open_Sans/static/OpenSans-Light.ttf");
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/Open_Sans/static/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans Medium";
  src: url("../fonts/Open_Sans/static/OpenSans-Medium.ttf");
}

@font-face {
  font-family: "Open Sans SemiBold";
  src: url("../fonts/Open_Sans/static/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/Open_Sans/static/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Jost Medium";
  src: url("../fonts/Jost/Jost-Medium.ttf");
}

@font-face {
  font-family: "Jost Regular";
  src: url("../fonts/Jost/Jost-Regular.ttf");
}

.nav-link {
  width: 160px;
  height: 40px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 61px;
  margin-right: 22px;
  font-size: 14px;
  color: #ffffff !important;
  font-weight: bold;
}

.nav-link:hover {
  background: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-different {
  margin-left: 12px;
  font-weight: normal;
  margin-bottom: 2px;
  font-size: 18px;
  font-family: "Open Sans Regular";
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collapsing {
  -webkit-transition: 0s;
  transition: 0s;
}

.nav-different:hover,
.clear_btn:hover {
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn_inside {
  border: 3px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
  width: 183px;
  height: 47px;
  background: transparent;
}

.for_black_a {
  color: black !important;
}

h1 {
  font-size: 48px;
  line-height: 120%;
  font-family: "Jost Medium";
  letter-spacing: 0.05em;
  color: #ffefef;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3 {
  font-size: 48px;
  font-family: "Open Sans Bold";
  line-height: 120%;
}

.number-link {
  color: #ffffff;
  text-decoration: none;
}

.number-link:visited {
  color: #ffffff;
}

.navbar {
  padding-left: 40px;
  padding-top: 35px;
  padding-right: 31px;
  background: transparent !important;
  font-family: "Open Sans Bold";
  max-width: 1520px;
  margin: auto;
}

.header {
  height: 1024px;
  background: url("../images/background-header.jpg") no-repeat center;
  max-width: 1520px;
  background-size: cover;
  margin: auto;
}

.header_center {
  background: rgba(0, 0, 0, 0.45);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 99px;
  width: 658px;
  height: 398px;
  padding-top: 44px;
  margin-top: 202px !important;
}

.header_center h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 48px;
  line-height: 120%;
}

.header_center p {
  text-align: center;
  margin: auto;
  margin-bottom: 47px;
  color: #ffefef;
  font-family: "Jost Regular";
  font-size: 24px;
  line-height: 120%;
}

.header_center__top_buttons {
  font-family: "Open Sans Regular";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_center__clear_btn {
  background: transparent;
  color: #ffffff;
  margin-right: 16px;
}

.header_center__white_btn {
  background-color: #ffffff;
  margin-right: 16px;
}

.advantages {
  height: 1024px;
  font-family: "Open Sans Medium";
  background: url("../images/background-2.png") center no-repeat;
  padding-top: 245px;
  max-width: 1520px;
  background-size: cover;
  margin: auto;
}

.advantages_block {
  height: 250px;
  text-align: center;
  margin-bottom: 110px;
}

.advantages_block p {
  font-size: 32px;
  line-height: 120%;
}

.advantages_block__img {
  width: 96px;
  height: 96px;
  border-radius: 100%;
  background-color: #cb8508;
  margin: auto;
  margin-bottom: 36px;
}

.spec .advantages_block__img::after {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 64px 64px;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
}

.spec:nth-child(1) .advantages_block__img::after {
  background-image: url("../images/image 20.png");
}

.spec:nth-child(2) .advantages_block__img::after {
  background-image: url("../images/image 21.png");
}

.spec:nth-child(3) .advantages_block__img::after {
  background-image: url("../images/image 19.png");
}

.spec:nth-child(4) .advantages_block__img::after {
  background-image: url("../images/587.png");
}

.spec:nth-child(5) .advantages_block__img::after {
  background-image: url("../images/589.png");
}

.spec:nth-child(6) .advantages_block__img::after {
  background-image: url("../images/588.png");
}

.review {
  height: 1024px;
  background: url("../images/image 22.jpg") no-repeat center;
  margin: auto;
  max-width: 1520px;
  background-size: cover;
}

.card {
  height: 459px;
  margin-top: 237px;
  padding: 65px 56px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  border-radius: 46px;
}

.card h5 {
  font-size: 48px;
  font-family: "Jost Regular";
}

.card p {
  font-size: 24px;
  font-size: 24px;
  line-height: 130%;
  font-family: "Open Sans Regular";
}

.card_img {
  width: 92px;
  height: 92px;
  margin-bottom: 16px;
  background-image: url("../images/galya.png");
  background-size: 92px 92px;
}

.card-body {
  padding-left: 0;
  padding-top: 0;
  color: #ffffff;
}

.card-title {
  margin-bottom: 32px;
}

.carousel-indicators {
  left: 0;
  top: auto;
  bottom: -296px;
}

.carousel-indicators button {
  background-color: transparent !important;
  border-radius: 50%;
  width: 17.59px !important;
  height: 17.59px !important;
  border: 2px solid #ffffff !important;
  margin-right: 21.11px !important;
}

.carousel-indicators .active {
  background-color: #ffffff !important;
}

.carousel_inner {
  background: red;
  border-radius: 70px !important;
}

.curtain {
  height: 1181px;
  background: url("../images/bg-4.png") center no-repeat;
  max-width: 1520px;
  background-size: cover;
  margin: auto;
}

.curtain_text_for_sm {
  display: none;
  font-family: "Jost Regular";
}

.curtain_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 797px;
}

.curtain_block__btn {
  background-color: #000000;
  color: white;
}

.curtain_block__btn:hover {
  background-color: #202020;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.curtain_block__btn:active {
  background-color: #383838;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.curtain_block h3 {
  margin-bottom: 32px;
  font-family: "Jost Regular";
}

.curtain_block p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-family: "Open Sans Medium";
}

.curtain_block span {
  font-family: "Open Sans SemiBold";
}

.curtain_block__btn {
  margin-top: 14px;
}

.carousel-indicators-second {
  bottom: 0;
}

.writeUs {
  background: url("../images/write-us.jpg") center no-repeat;
  background-size: cover;
  height: 937px;
  color: #ffffff;
  max-width: 1520px;
  background-size: cover;
  margin: auto;
}

.writeUs_block h3 {
  margin-bottom: 80px;
  margin-top: 230px;
  font-family: "Open Sans Bold";
}

.writeUs_block input[type="text"],
.writeUs_block input[type="tel"],
.writeUs_block textarea {
  font-family: "Open Sans Regular";
  font-size: 20px;
  caret-color: #ffffff;
  color: #ffffff;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 0px;
  border-width: 2px;
  -o-border-image: linear-gradient(90deg, #5f5472 1.62%, rgba(95, 84, 114, 0) 95.72%);
     border-image: -webkit-gradient(linear, left top, right top, color-stop(1.62%, #5f5472), color-stop(95.72%, rgba(95, 84, 114, 0)));
     border-image: linear-gradient(90deg, #5f5472 1.62%, rgba(95, 84, 114, 0) 95.72%);
  border-image-slice: 1;
}

.writeUs_block input[type="text"]::-webkit-input-placeholder,
.writeUs_block input[type="tel"]::-webkit-input-placeholder,
.writeUs_block textarea::-webkit-input-placeholder {
  color: #ffffff;
}

.writeUs_block input[type="text"]:-ms-input-placeholder,
.writeUs_block input[type="tel"]:-ms-input-placeholder,
.writeUs_block textarea:-ms-input-placeholder {
  color: #ffffff;
}

.writeUs_block input[type="text"]::-ms-input-placeholder,
.writeUs_block input[type="tel"]::-ms-input-placeholder,
.writeUs_block textarea::-ms-input-placeholder {
  color: #ffffff;
}

.writeUs_block input[type="text"]::placeholder,
.writeUs_block input[type="tel"]::placeholder,
.writeUs_block textarea::placeholder {
  color: #ffffff;
}

.writeUs_block input[type="text"],
.writeUs_block input[type="tel"] {
  padding: 7px 3px;
}

.writeUs_block input[type="text"] {
  margin-bottom: 80px;
}

.writeUs_block input[type="tel"] {
  margin-bottom: 66px;
}

.writeUs_block textarea {
  margin-bottom: 22px;
  resize: none;
}

.writeUs_block__white_btn {
  background-color: #ffffff;
}

.writeUs_find {
  padding-top: 40px;
  padding-left: 45px;
  margin-top: 240px;
  height: 402px;
  background: rgba(255, 255, 255, 0.06);
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  border-radius: 46px;
}

.writeUs_find h4 {
  font-size: 24px;
  margin-bottom: 75px;
  font-family: "Open Sans Bold";
}

.writeUs_find img {
  margin-right: 63px;
}

.writeUs_find_item {
  margin-bottom: 46px;
}

.writeUs_find_item p {
  margin: auto 0;
  font-size: 20px;
  font-family: "Open Sans Light";
}

.writeUs_copyright {
  text-align: center;
  margin-top: 105px;
}

.writeUs_small {
  display: none;
}

.white_button:hover {
  background: #d5d5d5;
  border-color: #d5d5d5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.white_button:active {
  background: #bbbbbb;
  border-color: #bbbbbb;
}

.pop-up {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 20;
  background-size: cover;
  margin: auto;
}

.pop-up .close_btn {
  position: absolute;
  top: 35px;
  right: 60px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.pop-up .close_btn span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 56px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  position: relative;
  top: -27px;
}

.pop-up .close_btn:hover {
  cursor: pointer;
}

.pop-up .buy_btn {
  width: 183px;
  height: 47px;
  background-color: #ffffff;
  border: 3px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
  color: #000000;
}

.pop-up .buy_btn:hover {
  background: #d5d5d5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pop-up .buy_btn:active {
  background: #bbbbbb;
}

.pop-up_card {
  width: 900px;
  background: #ffffff;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 115px;
  padding: 92px 75px 92px 119px;
  position: relative;
}

.pop-up_card_img {
  width: 315px;
  height: 380px;
  border-radius: 42px;
  background-image: url("../images/variable/12.png");
  margin-right: 60px;
  background-size: cover;
}

.pop-up_card h3 {
  font-family: "Open Sans Medium";
  font-size: 42px;
  margin-bottom: 35px;
}

.pop-up_card h4 {
  font-family: "Open Sans Medium";
  font-size: 20px;
  margin-right: 25px;
}

.pop-up_card p {
  font-family: "Open Sans Regular";
  text-align: center;
}

.pop-up_card_selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pop-up_card_selection__color {
  margin-bottom: 15px;
}

.pop-up_card_selection__length {
  margin-bottom: 15px;
}

.pop-up_card_selection__length__radio {
  margin-bottom: 8px;
}

.pop-up_card_selection__price {
  margin-bottom: 20px;
}

.pop-up_card_selection__price p {
  margin-top: 2px;
}

.pop-up_card .buy_btn {
  width: 183px;
  height: 47px;
  background-color: #ffffff;
  border: 3px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
}

.pop-up .checkboxes {
  margin-top: 3px;
}

.pop-up_second_card {
  width: 900px;
  padding: 92px 75px 92px 119px;
  background: #ffffff;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 115px;
  position: relative;
}

.pop-up_second_card_img {
  margin-top: 45px;
  width: 367px;
  height: 375px;
  border-radius: 42px;
  margin-right: 50px;
  background-size: cover;
  background-image: url("../images/variable/12.png");
}

.pop-up_second_card h3 {
  margin-top: 24px;
  margin-bottom: 35px;
}

.pop-up_second_card__form {
  width: 270px;
}

.pop-up_second_card__form input[type="text"],
.pop-up_second_card__form input[type="phone"] {
  height: 40px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid #000000;
  color: #000000;
}

.pop-up_second_card__form input[type="text"]::-webkit-input-placeholder,
.pop-up_second_card__form input[type="phone"]::-webkit-input-placeholder {
  color: #000000;
}

.pop-up_second_card__form input[type="text"]:-ms-input-placeholder,
.pop-up_second_card__form input[type="phone"]:-ms-input-placeholder {
  color: #000000;
}

.pop-up_second_card__form input[type="text"]::-ms-input-placeholder,
.pop-up_second_card__form input[type="phone"]::-ms-input-placeholder {
  color: #000000;
}

.pop-up_second_card__form input[type="text"]::placeholder,
.pop-up_second_card__form input[type="phone"]::placeholder {
  color: #000000;
}

.pop-up_second_card__form p {
  margin-bottom: 50px;
}

.pop-up_third_card {
  width: 900px;
  height: 586px;
  background: #ffffff;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 115px;
  padding: 78px 146px 92px 147px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.pop-up_third_card p {
  font-size: 34px;
  font-family: "Open Sans Regular";
}

.pop-up_third_card .big_buy_btn {
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 361px;
  height: 89px;
  color: #000000;
  text-decoration: none;
  font-family: "Open Sans Regular";
}

.pop-up-certifications_card {
  width: 1000px;
  height: 700px;
  background: #ffffff;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 115px;
  position: relative;
  padding: 90px;
}

.pop-up-certifications_card__left, .pop-up-certifications_card__right {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pop-up-certifications_card__left {
  background-image: url("../images/certification1.jpg");
}

.pop-up-certifications_card__right {
  background-image: url("../images/certification2.jpg");
}

@media screen and (max-width: 1399px) {
  .card_img {
    margin-bottom: 4px;
  }
  .pop-up .close_btn {
    position: absolute;
    top: 30px;
    right: 50px;
    width: 50px;
    height: 50px;
  }
  .pop-up_card {
    width: 750px;
    border-radius: 90px;
    padding: 80px 65px 80px 100px;
  }
  .pop-up_card_img {
    width: 315px;
    height: 380px;
    border-radius: 42px;
    margin-right: 50px;
    margin-top: 30px;
  }
  .pop-up_card h3 {
    font-size: 34px;
    margin-bottom: 30px;
  }
  .pop-up_card h4 {
    font-size: 18px;
    margin-right: 25px;
  }
  .pop-up_card_selection__color {
    margin-bottom: 15px;
  }
  .pop-up_card_selection__length {
    margin-bottom: 15px;
  }
  .pop-up_card_selection__length__radio {
    margin-bottom: 8px;
  }
  .pop-up_card_selection__price {
    margin-bottom: 20px;
  }
  .pop-up_card_selection__price p {
    margin-top: 2px;
  }
  .pop-up_card .buy_btn {
    width: 183px;
    height: 47px;
    border-radius: 40px;
  }
  .pop-up_second_card {
    width: 700px;
    padding: 80px 40px 100px 75px;
    border-radius: 115px;
  }
  .pop-up_second_card_img {
    margin-top: 38px;
    width: 340px;
    height: 355px;
    border-radius: 42px;
  }
  .pop-up_second_card h3 {
    margin-top: 24px;
    margin-bottom: 35px;
    font-size: 32px;
  }
  .pop-up_second_card__form {
    width: 220px;
  }
  .pop-up_third_card {
    width: 700px;
    height: 500px;
    border-radius: 115px;
    padding: 85px 90px 80px 75px;
  }
  .pop-up_third_card h3 {
    font-size: 45px;
  }
  .pop-up_third_card p {
    font-size: 28px;
  }
  .pop-up_third_card .big_buy_btn {
    font-size: 28px;
    width: 361px;
    height: 75px;
  }
  .pop-up-certifications_card {
    width: 800px;
    height: 550px;
    border-radius: 115px;
    padding: 90px;
  }
}

@media screen and (max-width: 1199px) {
  .advantages_block p {
    font-size: 24px;
  }
  .card p {
    font-size: 18px;
  }
  .writeUs_find img {
    margin-right: 20px;
  }
  .pop-up .close_btn {
    position: absolute;
    top: 30px;
    right: 50px;
    width: 50px;
    height: 50px;
  }
  .pop-up_card {
    width: 650px;
    border-radius: 70px;
    padding: 80px 60px 60px 60px;
  }
  .pop-up_card_img {
    width: 270px;
    height: 326px;
    border-radius: 42px;
    margin-right: 40px;
    margin-top: 38px;
  }
  .pop-up_card h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .pop-up_card h4 {
    font-size: 18px;
    margin-right: 25px;
  }
  .pop-up_card_selection__color {
    margin-bottom: 15px;
  }
  .pop-up_card_selection__length {
    margin-bottom: 15px;
  }
  .pop-up_card_selection__length__radio {
    margin-bottom: 6px;
  }
  .pop-up_card_selection__price {
    margin-bottom: 20px;
  }
  .pop-up_card_selection__price p {
    margin-top: 2px;
  }
  .pop-up_card .buy_btn {
    width: 183px;
    height: 47px;
    border-radius: 40px;
  }
  .pop-up_second_card {
    width: 600px;
    padding: 80px 40px 60px 50px;
    border-radius: 70px;
  }
  .pop-up_second_card_img {
    margin-top: 55px;
    width: 280px;
    height: 305px;
    border-radius: 42px;
    margin-right: 0;
  }
  .pop-up_second_card h3 {
    margin-top: 24px;
    margin-bottom: 35px;
    font-size: 32px;
  }
  .pop-up_second_card__form {
    width: 220px;
  }
  .pop-up_second_card__form p {
    margin-bottom: 35px;
  }
  .pop-up_third_card {
    width: 600px;
    height: 400px;
    border-radius: 70px;
    padding: 85px 70px 70px 70px;
  }
  .pop-up_third_card h3 {
    font-size: 36px;
  }
  .pop-up_third_card p {
    font-size: 24px;
  }
  .pop-up_third_card .big_buy_btn {
    font-size: 24px;
    width: 361px;
    height: 75px;
  }
  .pop-up-certifications_card {
    width: 700px;
    height: 600px;
    border-radius: 70px;
    padding: 55px;
  }
}

@media screen and (max-width: 991px) {
  .header .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .advantages_block p {
    font-size: 18px;
  }
  .card p {
    font-size: 18px;
  }
  .card {
    padding: 40px 56px;
  }
  .card_img {
    margin-bottom: 0;
  }
  .writeUs_block h3 {
    font-size: 34px;
  }
  .writeUs_find img {
    margin-right: 14px;
  }
  .writeUs_find p {
    font-size: 14px;
  }
  .writeUs_find {
    padding-left: 32px;
  }
  .navbar-nav {
    position: absolute;
    z-index: 5;
    background: white;
    width: 100%;
  }
  .nav-link {
    width: 160px;
    margin: 16px auto;
  }
  .nav-different {
    margin-bottom: 155px;
    color: #000000 !important;
    border-color: #000000;
  }
  .navbar {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
  }
  .navbar-sizing {
    padding-right: 20px;
    padding-top: 15px;
  }
  .icon {
    margin-left: 20px;
  }
  .navbar-toggler {
    background-color: #000000;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    padding: 0;
    margin-right: 20px;
  }
  .navbar-toggler-icon {
    background-image: url("../images/burger.svg") !important;
    width: 20px;
    height: 20px;
    background-position: center;
  }
  .curtain_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 534px;
    margin-bottom: 50px;
  }
  .curtain_block h3 {
    font-size: 40px;
  }
  .curtain_block p {
    font-size: 18px;
  }
  .curtain_block p__btn {
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }
  .carousel-indicators-second {
    bottom: 60px;
  }
  .writeUs h3 {
    margin-top: 93px;
  }
  .writeUs_find {
    display: none;
  }
  .writeUs_small {
    display: block;
    width: 100%;
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .writeUs_small img {
    margin-right: 20px;
  }
  .pop-up .close_btn {
    position: absolute;
    top: 30px;
    right: 50px;
    width: 35px;
    height: 35px;
  }
  .pop-up .close_btn span {
    font-size: 45px;
    position: relative;
    top: -25px;
  }
  .pop-up_card {
    width: 600px;
    border-radius: 70px;
    padding: 80px 36px 60px 60px;
  }
  .pop-up_card_img {
    width: 270px;
    height: 326px;
    border-radius: 42px;
    margin-right: 40px;
    margin-top: 38px;
  }
  .pop-up_card h3 {
    font-size: 28px;
    margin-bottom: 14px;
  }
  .pop-up_card h4 {
    font-size: 18px;
    margin-right: 15px;
  }
  .pop-up_card_selection__color {
    margin-bottom: 15px;
  }
  .pop-up_card_selection__length {
    margin-bottom: 15px;
  }
  .pop-up_card_selection__length__radio {
    margin-bottom: 4px;
  }
  .pop-up_card_selection__price {
    margin-bottom: 20px;
  }
  .pop-up_card_selection__price p {
    margin-top: 2px;
  }
  .pop-up_card .buy_btn {
    width: 183px;
    height: 47px;
    border-radius: 40px;
  }
  .pop-up_second_card {
    width: 600px;
    padding: 80px 40px 60px 50px;
    border-radius: 70px;
  }
  .pop-up_second_card_img {
    margin-top: 55px;
    width: 280px;
    height: 305px;
    border-radius: 42px;
    margin-right: 0;
  }
  .pop-up_second_card h3 {
    margin-top: 24px;
    margin-bottom: 35px;
    font-size: 32px;
  }
  .pop-up_second_card__form {
    width: 220px;
  }
  .pop-up_second_card__form p {
    margin-bottom: 35px;
  }
  .pop-up_third_card {
    width: 600px;
    height: 400px;
    border-radius: 70px;
    padding: 85px 70px 70px 70px;
  }
  .pop-up_third_card h3 {
    font-size: 36px;
  }
  .pop-up_third_card p {
    font-size: 24px;
  }
  .pop-up_third_card .big_buy_btn {
    font-size: 24px;
    width: 361px;
    height: 75px;
  }
  .pop-up-certifications_card {
    width: 700px;
    height: 600px;
    border-radius: 70px;
    padding: 55px;
  }
}

@media screen and (max-width: 767px) {
  .header_center {
    margin-top: 95px;
    width: 500px;
  }
  .header_center h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 32px;
  }
  .header_center p {
    font-size: 18px;
  }
  .header_center__clear_btn {
    background: transparent;
    color: #ffffff;
    margin-right: 16px;
  }
  .header_center__white_btn {
    background-color: #ffffff;
    margin-right: 16px;
  }
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
  }
  .advantages_block {
    margin-bottom: 20px;
  }
  .advantages_block p {
    font-size: 18px;
  }
  .advantages_block__img {
    background-color: transparent;
  }
  .curtain {
    height: 1181px;
    background: none;
  }
  .curtain_text_for_sm {
    display: block;
    text-align: center;
    margin-bottom: 48px;
  }
  .curtain_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 534px;
    margin-bottom: 50px;
  }
  .curtain_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .curtain_block h3 {
    display: none;
  }
  .curtain_block p {
    font-size: 20px;
  }
  .curtain_block p__btn {
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }
  .carousel-indicators-second {
    bottom: 60px;
  }
  .writeUs_find {
    display: none;
  }
  .pop-up .close_btn {
    position: absolute;
    top: 30px;
    right: 50px;
    width: 35px;
    height: 35px;
  }
  .pop-up .close_btn span {
    font-size: 45px;
    position: relative;
    top: -25px;
  }
  .pop-up_card {
    width: 516px;
    border-radius: 70px;
    padding: 80px 30px 30px 30px;
  }
  .pop-up_card_img {
    width: 216px;
    height: 274px;
    border-radius: 30px;
    margin-right: 30px;
    margin-top: 38px;
  }
  .pop-up_card h3 {
    font-size: 28px;
    margin-bottom: 14px;
  }
  .pop-up_card h4 {
    font-size: 18px;
    margin-right: 15px;
  }
  .pop-up_card_selection__color {
    margin-bottom: 15px;
  }
  .pop-up_card_selection__length {
    margin-bottom: 15px;
  }
  .pop-up_card_selection__length__radio {
    margin-bottom: 4px;
  }
  .pop-up_card_selection__price {
    margin-bottom: 20px;
  }
  .pop-up_card_selection__price p {
    margin-top: 2px;
  }
  .pop-up_card .buy_btn {
    width: 183px;
    height: 47px;
    border-radius: 40px;
  }
  .pop-up_second_card {
    width: 516px;
    padding: 80px 30px 30px 30px;
    border-radius: 70px;
  }
  .pop-up_second_card_img {
    margin-top: 36px;
    width: 255px;
    height: 273px;
    border-radius: 42px;
    margin-right: 0;
  }
  .pop-up_second_card h3 {
    margin-top: 0px;
    margin-bottom: 25px;
    font-size: 32px;
  }
  .pop-up_second_card__form {
    width: 220px;
  }
  .pop-up_second_card__form p {
    margin-bottom: 35px;
  }
  .pop-up_third_card {
    width: 516px;
    height: 350px;
    border-radius: 70px;
    padding: 80px 30px 30px 30px;
  }
  .pop-up_third_card h3 {
    font-size: 36px;
  }
  .pop-up_third_card p {
    font-size: 24px;
  }
  .pop-up_third_card .big_buy_btn {
    font-size: 24px;
    width: 361px;
    height: 55px;
  }
  .pop-up-certifications_card {
    width: 516px;
    height: 445px;
    border-radius: 70px;
    padding: 40px;
  }
  .spec:nth-child(1) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .spec:nth-child(2) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .spec:nth-child(3) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .spec:nth-child(4) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .spec:nth-child(5) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .spec:nth-child(6) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media screen and (max-width: 575px) {
  .header {
    height: 509px;
  }
  .header_center {
    margin-top: 33px !important;
    width: 328px;
    height: 328px;
    padding-top: 55px;
  }
  .header_center h1 {
    text-align: center;
    margin-bottom: 22px;
    font-size: 24px;
  }
  .header_center__top_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_center p {
    font-size: 14px;
    margin-bottom: 22px;
  }
  .header_center__clear_btn {
    font-size: 12px;
    width: 128px;
    height: 33px;
    margin-bottom: 16px;
  }
  .header_center__white_btn {
    font-size: 12px;
    width: 128px;
    height: 33px;
  }
  .curtain_text_for_sm {
    margin-bottom: 28px;
  }
  .advantages {
    height: 447px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url("../images/bg2-small.png");
    background-size: cover;
    background-position: left;
  }
  .advantages_block {
    margin-bottom: 8px;
    height: 106px;
  }
  .advantages_block p {
    font-size: 16px;
  }
  .advantages_block__img {
    background-color: transparent;
    height: 44px;
    width: 44px;
    margin-bottom: 8px;
  }
  .spec .advantages_block__img::after {
    background-size: 44px 44px;
  }
  .review {
    height: 529px;
    background: url("../images/bg4-small.jpg") center top no-repeat;
    background-size: 100%;
  }
  .review .carousel-indicators {
    bottom: -150px;
  }
  .curtain {
    height: 1141px;
  }
  .curtain_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 422px;
  }
  .curtain_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .curtain_block__btn {
    margin-top: 14px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .card {
    height: 231px;
    padding: 21px 16px;
    margin-top: 126px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card_img {
    width: 61px;
    height: 61px;
    background-size: 61px 61px;
    background-image: url("../images/galya.png");
    margin-bottom: 11px;
  }
  .card h5 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  .card p {
    font-size: 12px;
  }
  .card-body {
    padding: 0;
  }
  .writeUs {
    background: url("../images/write-us.jpg") center no-repeat;
    height: 792px;
    color: #ffffff;
  }
  .writeUs_block h3 {
    margin-top: 90px;
  }
  .writeUs_block__white_btn {
    margin-top: -5px;
  }
  .writeUs_block input[type="text"] {
    margin-bottom: 35px;
  }
  .writeUs_copyright {
    margin-top: 50px;
  }
  .pop-up .close_btn {
    position: absolute;
    top: 15px;
    right: 35px;
    width: 35px;
    height: 35px;
  }
  .pop-up .close_btn span {
    font-size: 45px;
    position: relative;
    top: -25px;
  }
  .pop-up_card {
    width: 328px;
    border-radius: 70px;
    padding: 30px;
  }
  .pop-up_card_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pop-up_card_img {
    width: 194px;
    height: 234px;
    border-radius: 30px;
    background-size: contain;
    background-repeat: round;
    margin: 0;
  }
  .pop-up_card h3 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .pop-up_card h4 {
    font-size: 18px;
    margin-right: 10px;
  }
  .pop-up_card label {
    font-size: 14px;
  }
  .pop-up_card .checkboxes {
    margin-top: 0;
  }
  .pop-up_card_selection {
    margin-top: 15px;
  }
  .pop-up_card_selection__color {
    margin-bottom: 5px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .pop-up_card_selection__length {
    margin-bottom: 5px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .pop-up_card_selection__length__radio {
    margin-bottom: 2px;
  }
  .pop-up_card_selection__price {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 10px;
  }
  .pop-up_card_selection__price p {
    font-size: 16px;
    margin-top: 0px;
  }
  .pop-up_card .buy_btn {
    width: 183px;
    height: 35px;
    border-radius: 40px;
    margin: auto;
  }
  .pop-up_second_card {
    width: 328px;
    border-radius: 70px;
    padding: 30px;
  }
  .pop-up_second_card_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pop-up_second_card_img {
    width: 194px;
    height: 234px;
    border-radius: 30px;
    background-size: contain;
    background-repeat: round;
    margin: 0;
  }
  .pop-up_second_card h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 32px;
    text-align: center;
  }
  .pop-up_second_card__form {
    width: 100%;
  }
  .pop-up_second_card__form p {
    margin-bottom: 15px;
  }
  .pop-up_second_card_selection__button {
    width: 183px;
    height: 35px;
    margin: auto;
  }
  .pop-up_third_card {
    width: 328px;
    border-radius: 70px;
    padding: 55px 30px 30px 30px;
  }
  .pop-up_third_card h3 {
    font-size: 32px;
  }
  .pop-up_third_card p {
    font-size: 18px;
  }
  .pop-up_third_card .big_buy_btn {
    font-size: 16px;
    width: 183px;
    height: 35px;
  }
  .pop-up-certifications_card {
    width: 328px;
    border-radius: 70px;
    padding: 5px;
  }
}
/*# sourceMappingURL=main.css.map */